.carts-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* background-color: red; */
  /* margin-left: 40px;
  margin-right: 40px; */
  
}
.cart{
  /* border: 1px solid black; */
  border-radius: 8px;
  /* width: auto; */
  /* height: 250px; */
  /* margin-left: 5px;
  margin-right: 5px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.article-image{
  width: 500px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  justify-content: center;

}