/* .nav-container{
  display: flex;
  flex-direction: row;
  background-color: red;
}
.nav-link{
  list-style-type: none;
} */

.nav-container {
  width: 100%;
  background: #111; /* dark background */
  padding: 15px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-link a {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav-link a:hover {
  color: #00d4ff;
  border-bottom: 2px solid #00d4ff;
}